@model Library.Web.Models.LibraryCardViewModel
           
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>LibraryCard</legend>

    <div class="display-label">Number:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Number)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>